<head>
    <title>TF.js Test</title>
    <!-- Import Tensorflow.js and jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
        integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
</head>

<body>
    <h1 id="status">Loading model..</h1>
    <div id="outer_container">
        <h2>Upload an image for Binary Classification! (Fresh 🤩 or Rotten 🤮)</h2>
        <!-- Form to get user's uploaded image -->
        <form enctype="multipart/form-data">
            <input type="file" id="uploaded_img" accept="image/*" />
            <select id="uploaded_classification">
                <option value="0">Fresh</option>
                <option value="1">Rotten</option>
            </select>
            <button type="button" onclick="upload_image()">Upload Image</button>
        </form>

        <!-- Display uploaded image -->
        <div id="image_container">
            <h2>Uploaded Image</h2>
            <img id="uploadedImage" style="max-width: 100%;" />
            <p id="results"></p>
            <button id="train_btn" onclick="train_model()">Train Model</button>
            <button id="upload_btn" onclick="upload_model()">Upload Model</button>
        </div>
    </div>


    <script>
        // Global variables
        let mobilenet = undefined;                  // Mobilenet model (base model)
        let model = undefined;                      // Classification head of model (built on top of base model)
        var model_classification = undefined;       // Classification made by model (0: Fresh, 1: Rotten)
        var correct_classification = undefined;     // Correct classification provided by user (0: Fresh, 1: Rotten)
        var training_size = 0;                      // Training size (no of images/tensors client model is trained on)

        // Constants
        const MODEL_URL = 'https://tfhub.dev/google/tfjs-model/imagenet/mobilenet_v3_small_100_224/feature_vector/5/default/1';
        const SERVER_URL = 'http://localhost:1234';
        const CLASS_NAMES = ['Fresh', 'Rotten'];
        const test_img = document.getElementById('uploadedImage');
        const results_txt = document.getElementById('results');

        // JS entrypoint
        $(document).ready(async function () {
            // Hide outer container when model is not loaded yet
            $("#outer_container").hide();
            $("#image_container").hide();

            // Load models
            await prepare_ml();

            // Display outer container when model is fully loaded
            $("#outer_container").show();
            $("#status").hide();
        });

        /* Functions */
        // Function to prepare models for in-browser machine learning
        async function prepare_ml() {
            // Load pre-trained mobilenet model (image feature vectors) from TensorFlowHub
            mobilenet = await tf.loadGraphModel(MODEL_URL, { fromTFHub: true });

            // NOTE: Tidy function is used for automatic memory clean ups (clean up all intermediate tensors afterwards to avoid memory leaks)
            // dispose() to release the WebGL memory allocated for the return value of predict
            tf.tidy(function () {
                // Warm up the model by passing zeros through it once, to make first prediction faster
                mobilenet.predict(tf.zeros([1, 224, 224, 3])).dispose();   // Tensor of 1 x 224px x 224px x 3 colour channels (RGB)
            });

            // Load model (classification head) from Flask endpoint
            model = await tf.loadLayersModel(`${SERVER_URL}/get_model/model.json`);

            // Compile model
            model.compile({
                // Adam changes the learning rate over time which is useful.
                optimizer: 'adam',
                // Use the correct loss function. If 2 classes of data, must use binaryCrossentropy.
                // Else categoricalCrossentropy is used if more than 2 classes.
                loss: (CLASS_NAMES.length === 2) ? 'binaryCrossentropy' : 'categoricalCrossentropy',
                // As this is a classification problem you can record accuracy in the logs too!
                metrics: ['accuracy']
            });
        }

        // Function to perform binary classification on image
        function classify_image() {
            console.log("Classifying image...");
            // Classify image
            tf.tidy(function () {
                // Create tensor from image
                let test_tensor = tf.browser.fromPixels(test_img);

                // Resize tensor (value of data is between 0-255) and ensure all values are between 0 and 1 (for inputs into mobilenet model)
                test_tensor = tf.image.resizeBilinear(test_tensor, [224, 224], true).div(255);

                // Get mobilenet's intermediate predicted outcome for the expanded rank tensor
                let test_image_features = mobilenet.predict(test_tensor.expandDims());

                // Get classification head's predicted outcome, and remove dimensions of 1 afterwards
                let prediction = model.predict(test_image_features).squeeze();

                // Find index with highest value and convert tensor into an array
                let highestIndex = prediction.argMax().arraySync();

                // Update classification made by model
                model_classification = highestIndex;

                // Get prediction scores as an array
                let predictionArray = prediction.arraySync();

                // Get prediction results
                let prediction_txt = (correct_classification == highestIndex) ? "Correct " : "Wrong ";
                prediction_txt += 'Prediction: ' + CLASS_NAMES[highestIndex] + ' with ' + predictionArray[highestIndex] * 100 + '% confidence'

                // Update results
                results_txt.innerText = prediction_txt;
            });
            console.log("Image classified!");
        }

        /* Event Listeners */
        // Function for handling image upload
        async function upload_image() {
            // Get uploaded image
            var input = document.getElementById('uploaded_img');
            var file = input.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = async function (e) {
                    // Load test image
                    test_img.src = e.target.result;

                    // Ensure image is loaded before moving on
                    await new Promise((resolve) => test_img.onload = resolve);

                    // Get user's inputted classification for the uploaded image
                    correct_classification = parseInt($("#uploaded_classification").val());

                    // Display image container once it is loaded
                    $("#image_container").show();

                    // Classify image after it has been loaded
                    classify_image();
                };
                reader.readAsDataURL(file);
            }
        }

        // Function for handling client-side training (NOTE: Client-side training on a very small number of images will not yield noticeable model results!)
        async function train_model() {
            // Initialise variables
            let training_data = [];     // Store image features of training images
            let training_output = [];   // Store classification output of training images

            // Augment training tensor for more diversity in training data (instead of just one basic tensor from the image)
            for(let degree = 0; degree < 360; degree+=15) {
                // Obtain image features
                let image_features = tf.tidy(function () {
                    // Create tensor from image
                    let test_tensor = tf.browser.fromPixels(test_img);

                    // Augment tensor by rotating it every 15 degrees
                    test_tensor = tf.image.rotateWithOffset(test_tensor.toFloat().expandDims(), degree * (Math.PI / 180)).squeeze();

                    // Resize tensor (value of data is between 0-255) and ensure all values are between 0 and 1 (for inputs into mobilenet model)
                    test_tensor = tf.image.resizeBilinear(test_tensor, [224, 224], true).div(255);

                    // Get mobilenet's predicted outcome for the expanded rank tensor, and remove dimensions of 1 afterwards
                    return mobilenet.predict(test_tensor.expandDims()).squeeze();
                });
                // Append image feature into array of training data
                training_data.push(image_features);
                training_output.push(correct_classification);
                training_size++;
            }
            
            /* Model Training */
            // Shuffle training data
            tf.util.shuffleCombo(training_data, training_output);
            // Convert tensor array into a 1D tensor array
            let output_tensor = tf.tensor1d(training_output, 'int32');
            // Convert into a one-hot tensor array
            let onehot_output = tf.oneHot(output_tensor, CLASS_NAMES.length);
            // Convert array of tensors into a 2D tensor
            let input_tensor = tf.stack(training_data);

            // Train classification head
            console.log("Training model locally on client device..")
            await model.fit(input_tensor, onehot_output, { shuffle: true, batchSize: 5, epochs: 10, callbacks: { onEpochEnd: (epoch, log) => console.log(epoch, log) } });

            // Dispose temporary tensors to release the WebGL memory allocated
            output_tensor.dispose();
            onehot_output.dispose();
            input_tensor.dispose();
            alert("Model trained locally on client device!");
        }

        // Function for uploading client model to the server for federated learning
        async function upload_model() {
            model.setUserDefinedMetadata({"training_size": training_size});
            const saveResult = await model.save(`${SERVER_URL}/upload_model`);
            alert("Model uploaded for federated learning!");
        }

    </script>

</body>